<body>
<div id="site-wrap">
    <section class="disclaim">
        <div class="contenu">
            <div class="numbered">
                <div class="item">Туры по акции «Раннее бронирование». Даты вылета: 26.04.2023–31.10.2023. Интервал между
                    датой бронирования и началом тура: 60 дней и более. Подробности акций уточняйте у менеджера.
                </div>
                <div class="item">Срок действия Бонусов 18 месяцев с даты их начисления.</div>
                <div class="item">Сроки действия акции 22.02&mdash;26.02.2023</div>
            </div>
        </div>
    </section>
</div>
</body>