<body>
<link rel="stylesheet" href="/site/coral.ru/css/main.less">

<div id="site-wrap">

    <section class="intro">
        <div class="contenu">
            <p>
                Дорогие мужчины, отдыхайте чаще! Ученые доказали: это полезно для здоровья, продуктивности на&nbsp;работе
                и&nbsp;хорошего настроения. А&nbsp;мы подарим вам от&nbsp;3&nbsp;000 до&nbsp;5&nbsp;000&nbsp;бонусов на&nbsp;карту
                CoralBonus в&nbsp;честь 23&nbsp;Февраля. 1&nbsp;бонус&nbsp;=&nbsp;1&nbsp;рубль. Ими можно оплатить до&nbsp;100% стоимость
                следующего тура, потратить на&nbsp;билет на&nbsp;аэроэкспресс и&nbsp;другие полезные вещи.
                Чтобы получить бонусы, просто забронируйте тур в&nbsp;период с&nbsp;22&nbsp;февраля по&nbsp;26&nbsp;февраля с&nbsp;вылетом
                с&nbsp;26&nbsp;апреля по&nbsp;31&nbsp;марта по&nbsp;акции «Раннее&nbsp;бронирование».
                В&nbsp;акции участвуют сразу три&nbsp;страны: Турция, Египет и&nbsp;ОАЭ.
            </p>
            <div class="actions">
                <button class="with-down-arrow" data-scrollto="#hotels-set" data-ym-reachgoal="choose-tour">Выбрать тур</button>
            </div>
            <div class="promo-terms">
                <h3>Условия акции</h3>
                <ul class="terms">
                    <li><span>Даты бронирования:
                        <br>22.02&mdash;26.02.2023</span></li>
                    <li><span>Даты вылета:
                        <br>26.04&mdash;31.10.2023</span></li>
                    <li><span>Направления для отдыха:
                        <br>Турция, ОАЭ, Египет.</span></li>
                    <li><span>Интервал между датой бронирования
                        <br>и&nbsp;датой начала тура: 60&nbsp;дней и&nbsp;более.</span></li>
                    <li><span>Бонусы за проживание в отелях:
                        <br>3* — 3&nbsp;000, 4* — 4&nbsp;000; 5* — 5&nbsp;000</span></li>
                </ul>
            </div>
        </div>
    </section>

    <section class="coralbonus">
        <div class="contenu">
            <div class="info">
                <h2>У Вас еще нет <br>карты CoralBonus?</h2>
                <p>Оформите ее сейчас</p>
                <div class="actions">
                    <a href="https://coralbonus.ru/registration?promo=Z4CNRXZI82KYDA16199VX7USDNBX2AQX35JYGDBH55DQIEMK5ONKDKNSV2BHIFX" target="_blank">Оформить</a>
                </div>
            </div>
        </div>
    </section>

    <section class="bonus">
        <div class="contenu">
            <div class="bonus-details">
                <h2>Какие бонусы я&nbsp;получу и&nbsp;как их&nbsp;потратить</h2>
                <p>Правила расчёта бонусов по&nbsp;акции «Море&nbsp;бонусов» на&nbsp;23&nbsp;Февраля</p>
                <ul class="stars-scores">
                   <li>
                       <div class="hotel-word">Отель</div>
                       <div class="stars"><div class="star"></div><div class="star"></div><div class="star"></div></div>
                       <div class="qty">3&nbsp;000</div>
                       <div class="bonus-word">бонусов</div>
                   </li>
                   <li>
                       <div class="hotel-word">Отель</div>
                       <div class="stars"><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>
                       <div class="qty">4&nbsp;000</div>
                       <div class="bonus-word">бонусов</div>
                   </li>
                   <li>
                       <div class="hotel-word">Отель</div>
                       <div class="stars"><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div><div class="star"></div></div>
                       <div class="qty">5&nbsp;000</div>
                       <div class="bonus-word">бонусов</div>
                   </li>
                </ul>
                <p>
                    Потратить Активные Бонусы можно при покупке следующего тура, оплатить
                    <a href="https://coralbonus.ru" target="_blank">билет на&nbsp;аэроэкспресс</a> или
                    потратить Бонусы на&nbsp;полезных вещей
                    <a href="https://coralbonus.ru/klub-privilegii/suvenirnaya-produkfiya/" target="_blank">в&nbsp;интернет-магазине Coral&nbsp;Travel</a>.
                    Никаких подводных камней нет: оплатить покупку можно до&nbsp;100% накопленными Активными Бонусами по&nbsp;курсу 1&nbsp;Бонус&nbsp;=&nbsp;1&nbsp;рубль.
                    Бонусы действуют целых 1,5&nbsp;года. Полные правила читайте <a href="https://coralbonus.ru/bonusy/" target="_blank">в&nbsp;условиях
                    участия в&nbsp;программе
                    лояльности&nbsp;CoralBonus</a>.
                </p>
            </div>
        </div>
    </section>

    <section class="what2choose">
        <div class="contenu">
            <h2>Турция, Египет, ОАЭ: что выбрать для&nbsp;отпуска по&nbsp;акции?</h2>
            <p>
                В акции участвуют целых три страны: Турция, Египет и&nbsp;Эмираты. Для вас открыт выбор среди десятка
                разнообразных курортов. Среди них: жаркие и&nbsp;со&nbsp;свежим бризом, бюджетные и&nbsp;элитные, семейные,
                тихие и&nbsp;веселые. Расскажем о&nbsp;странах чуть подробнее, а&nbsp;вы выберите то, что подходит именно&nbsp;вам.
            </p>
            <div class="actions">
                <button class="with-down-arrow" data-scrollto="#hotels-set" data-ym-reachgoal="choose-tour">Выбрать тур</button>
            </div>

            <div class="alternate-layout">
                <div class="destination-item">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-turkey.jpg);"><span>&nbsp;</span></div>
                    <div class="info">
                        <h3>Турция</h3>
                        <p>
                            Отличный вариант для трипа с&nbsp;друзьями, выходных вдвоем или семейного отпуска на&nbsp;море. Все
                            лучшие курорты Турции устроились на&nbsp;берегах двух морей &mdash; Эгейское и&nbsp;Средиземное.
                        </p>
                        <ul>
                            <li>Эгейское побережье — самое живописное и&nbsp;неизбитое среди путешественников. Море здесь
                                на&nbsp;пару градусов прохладнее Средиземного, поэтому оно хорошо освежает в&nbsp;знойные месяцы
                                лета. Купальный сезон длится с&nbsp;июня по&nbsp;октябрь.
                            </li>
                            <li>Анталийское побережье, оно же Средиземное &mdash; самое хитовое среди путешественников. Здесь
                                самое теплое море в&nbsp;Турции, и&nbsp;купаться можно с&nbsp;конца апреля по&nbsp;октябрь.
                            </li>
                        </ul>
                        <h4>Как полететь</h4>
                        <p>
                            У нас отличные новости для любителей отдыха в&nbsp;Алании! Теперь отправляясь в&nbsp;тур
                            с&nbsp;Coral&nbsp;Travel, вы можете прилететь прямо в&nbsp;аэропорт Газипаша и&nbsp;через 30&nbsp;минут
                            нырнуть с&nbsp;головой в&nbsp;Средиземное&nbsp;море. А&nbsp;также с&nbsp;апреля по&nbsp;октябрь, вы сможете
                            приобрести тур с&nbsp;прямым перелетом в&nbsp;Измир, Даламан, Бодрум или&nbsp;Анталью.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="#hotels-set" data-group-marker="Турция" data-ym-reachgoal="choose-tour">Выбрать тур</button>
                        </div>
                    </div>
                </div>
                <div class="destination-item">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-egypt.jpg);"><span>&nbsp;</span></div>
                    <div class="info">
                        <h3>Египет</h3>
                        <p>
                            В Египте теплое солнце, сафари, пирамиды и&nbsp;дайвинг с&nbsp;подводными пейзажами, достойных
                            мультфильма «В&nbsp;поисках&nbsp;Немо». Можно выбраться мужской компанией в&nbsp;отель Шарм-эш-Шейха или
                            Хургады, поплавать с&nbsp;аквалангом среди причудливых морских звезд и&nbsp;ярких рыбок, устроить
                            поход на&nbsp;гору Синай, поселиться в&nbsp;семейном отеле с&nbsp;аквапарком или освежить чувства с&nbsp;любимой
                            в&nbsp;отеле&nbsp;16+. А&nbsp;еще в&nbsp;Египте можно загорать, ездить к&nbsp;пирамидам и&nbsp;запасаться витаминами,
                            поедая вкуснейшую клубнику и&nbsp;гуаву.
                        </p>
                        <h4>Как полететь</h4>
                        <p>
                            Египет очень удобен для путешествий. Все туры Coral&nbsp;Travel с&nbsp;прямыми рейсами в&nbsp;Хургаду
                            и&nbsp;Шарм-эш-Шейх. А&nbsp;если для вас важен комфорт и&nbsp;хороший сервис, вы можете полететь на&nbsp;отдых
                            бизнес-классом с&nbsp;авиакомпанией&nbsp;EgyptAir.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="#hotels-set" data-group-marker="Египет" data-ym-reachgoal="choose-tour">Выбрать тур</button>
                        </div>
                    </div>
                </div>
                <div class="destination-item">
                    <div class="visual" style="background-image: url(/site/coral.ru/assets/visual-uae.jpg);"><span>&nbsp;</span></div>
                    <div class="info">
                        <h3>ОАЭ</h3>
                        <p>
                            В ОАЭ теплое, лазурное море и&nbsp;чистые оборудованные пляжи. Можно отправиться мужской
                            компанией в&nbsp;Абу-Даби &mdash; и&nbsp;почувствовать себя пилотами Формулы-1 в&nbsp;парке феррари. Можно
                            проверить, кто из вас самый смелый на самых крутых аттракционах в&nbsp;мире или вспомнить любимых
                            героев детства в&nbsp;киновселенной Warner&nbsp;Bros. Хотите попасть в&nbsp;город будущего &mdash; отправляйтесь
                            в&nbsp;Дубай. Вам интересны исторические музеи — отправляйтесь в&nbsp;Шарджу, культурную столицу ОАЭ.
                            А&nbsp;если вы хотите сэкономить и&nbsp;отдохнуть от&nbsp;городской суеты, рассмотрите для отпуска
                            Рас-эль-Хайму &mdash; это тихий эмират со&nbsp;своим&nbsp;аэропортом.
                        </p>
                        <h4>Как полететь</h4>
                        <p>
                            ОАЭ очень удобен для путешествий. Все туры Coral&nbsp;Travel с&nbsp;прямыми рейсами в&nbsp;Дубай,
                            Рас-эль-Хайму, Абу-Даби и&nbsp;Шарджу.
                        </p>
                        <div class="actions">
                            <button class="with-down-arrow" data-scrollto="#hotels-set" data-group-marker="ОАЭ" data-ym-reachgoal="choose-tour">Выбрать тур</button>
                        </div>
                    </div>
                </div>
            </div>

            <h3>Бронируйте тур на&nbsp;весну, лето или&nbsp;осень по&nbsp;акции «Море&nbsp;бонусов» на&nbsp;23&nbsp;Февраля
                и&nbsp;отдыхайте с&nbsp;друзьями&nbsp;чаще!</h3>

            <h2>Отели «Нашей летней коллекции»</h2>

        </div>
    </section>

    <template id="_intro_markup">
        <div class="video-box">
            <div class="backdrop"></div>
            <!--            <div id="vimeo-visual-desktop" data-vimeo-id="763677286" class="vimeo-wrap hidden-on-mobile"></div>-->
            <!--            <div id="vimeo-visual-mobile" data-vimeo-id="763677274" class="vimeo-wrap hidden-on-desktop"></div>-->
            <div class="info-overlay">
                <div class="msg">
                    <h2>Акция «Море&nbsp;бонусов» на&nbsp;23&nbsp;Февраля!</h2>
                    <ul class="benefits">
                        <li><span>Целых 3&nbsp;страны <br>Турция, Египет, <br>ОАЭ</span></li>
                        <li><span>Бонусами можно <br>оплатить до&nbsp;100% <br>стоимости тура<sup>2</sup></span></li>
                        <li><span>Выбирайтесь <br>отдыхать мужской <br>компанией чаще!</span></li>
                    </ul>
<!--
                    <div class="actions">
                        <button class="with-down-arrow">Выбрать тур</button>
                    </div>
-->
                </div>
            </div>
        </div>
    </template>

</div>

<script src="/site/coral.ru/js/index.coffee"></script>
</body>